
*{
  box-sizing: border-box;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  align-items: center;
  
}
a{
  
  flex: 33%;
  max-width: 33%;
  padding: 5px;
  transition: 0.5s;
  z-index: 1px;
  height: 200px;
  
}

@media (min-width: 1000px) {

img:hover
{
scale: 150%;
border: 7px solid black;
padding: 0px;
filter: blur(0px);
z-index: 10;
}
}
@media (max-width: 800px){
  img {
    flex: 50%;
    max-width: 50%;
  }
  h1
{
  font-size: 20px;
}
}

@media (max-width: 600px) {
  img {
    flex: 100%;
    max-width: 100%;
  }
h1
{
    font-size: 16px;
}
img:hover
{
max-width: 25%;
}
}
h1
{   background-color: black;
    background-size: 100px 100px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}