@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --purple: #682ae9;
    --light: #dbdbdb;
    --header-link: #dbdbdb;
    --header-link-hover: #682ae9;
    --header-link-hover-icon: #dbdbdb;
    --header-link-active: #555;
    --std-color: #dbdbdb;
    --bg: #0e1212;
    --bg-rgb: 14, 18, 18;
    --bgLight: radial-gradient(var(--bg), transparent, var(--purple) 130%);
    --gray: grey;
    --comment: #555;
}

* {
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    word-break: normal;
    animation: body 9s forwards linear;
}

@keyframes body {
    0% {
        overflow-Y: hidden;
    }

    100% {
        overflow-Y: visible;
    }
}

#header {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 8rem;
    padding: 0 1rem 5rem;
    animation: navigation 0.7s forwards linear 3s;
    z-index: 1501;
    opacity: 0;
}

#header .image {
    position: fixed;
    height: 100px;
    width: 100px;
    float: left;
    display: flex;
    justify-content: left;
    left: 0;
}

#header .image img {
    position: relative;
    height: 55px;
    width: 70px;
    float: left;
    display: flex;
    justify-content: left;
    top: -23px;
    left: 10px;
    transition: all .3s ease-out;
}

#header .navigation ul li a svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--purple);
    position: relative;
    top: 2px;
    transition: fill .3s ease-out;
}

#header .navigation ul li a svg:hover {
    fill: var(--light);
}

#header .image img:hover {
    filter: brightness(10);
}

#header .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#header .navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    position: fixed;

}

#header .navigation ul li {
    list-style: none;
    margin-left: 20px;
    float: right;
}

#header .navigation ul li a {
    display: block;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: #dbdbdb;
    transition: color .4s ease-out;
    line-height: 1;
    font-size: 23px;
    top: 30px;
}

#header .navigation ul li a.active {
    opacity: .5;
    cursor: default;
}

#header .navigation ul li a:hover {
    color: #682ae9;
}

@keyframes navigation {
    0% {
        top: -100px;
        opacity: 1;
        
    }

    100% {
        top: 30px;
        opacity: 1;

    }

}

.htmlbuilderf {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s;
    animation: html 3s forwards linear;
    z-index: 50;
    left: 20vw;
}

@keyframes html {
    0% {
        transform: scale(100%);
    }

    40% {
        transform: scale(100%);
    }

    95% {
        transform: scale(100%);
        opacity: 1;
    }

    100% {
        transform: scale(100%);

        opacity: 0;

    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

}

section .spine {
    pointer-events: none;
    position: fixed;
    top: 100vh;
    bottom: 0;
    left: calc(25vw - 2rem);
    z-index: 150000;
    width: 1px;
    background: var(--purple) linear-gradient(0deg, var(--bg) 1rem, rgba(var(--bg-rgb), 0) 20vh);
    animation: line 1s forwards linear 3s;
}

section .spine .circle {
    display: block;
    position: fixed;
    top: 100vh;
    left: calc(25vw - 2.4rem);
    z-index: 15;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--purple);
    animation: circle 1s forwards linear 3.4s;
}

section .spine .circle::before {
    content: "";
    display: block;
    position: fixed;
    top: 100vh;
    left: calc(25vw - 2.5rem);
    z-index: 16;
    width: 15px;
    height: 15px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    background: transparent;
    animation: circle 1s forwards linear 3.2s;
}

section .spine .circle::after {
    content: "";
    display: block;
    position: fixed;
    top: 100vh;
    left: calc(25vw - 2.9rem);
    z-index: 17;
    width: 20.5px;
    height: 20.5px;
    border: 5px solid var(--purple);
    border-radius: 50%;
    background: transparent;
    animation: circlering 1s forwards linear 3.8s;
}

@keyframes line {
    to {
        top: 50vh;
    }
}

@keyframes circle {
    0% {
        opacity: 0;
        top: 48vh;
        background: transparent;
    }

    100% {
        opacity: 1;
        top: 48vh;
        background: var(--purple);
    }
}

@keyframes circlering {
    0% {
        opacity: 0;
        top: 47.5vh;
        transform: scale(100%);
    }

    50% {
        top: 47.5vh;
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 47.5vh;
        transform: scale(300%);
        filter: blur(2px);
    }
}

.text {
    display: block;
    color: var(--light);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -5.1em;
    letter-spacing: -0.05em;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin-right: -11vw;
    position: relative;
    top: 36px;
    padding-right: 2rem;
    min-width: 61vw;
}

.text .tex {
    position: relative;
    top: -57vh;
    /* left: calc(25vw - 28rem); */
}

@keyframes text1 {
    from {
        opacity: 0;
        top: -57vh;
    }

    to {
        opacity: 1;
        top: 100vh;
    }

}

.std .is {
    color: var(--purple);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -5.1em;
    letter-spacing: -0.05em;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-right: 2rem;
}

.is1,
.is2,
.is3 {
    color: var(--purple);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -5.1em;
    letter-spacing: -1em;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    animation: line 1s forwards linear 3s;
}

/* .std .is1:nth-child(1){
    animation-delay: 0s;
   }
   .std .is1:nth-child(2){
    animation-delay: 0.2s;
   }
   .std .is1:nth-child(3){
    animation-delay: 0.4s;
   }
    */
@keyframes loading {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0px);
    }
}

.std .hb {
    color: var(--light);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -5.1em;
    letter-spacing: 2px;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    /* padding-right: 2rem; */
    margin-right: -13px;
}

.std:nth-child(2) {
    max-width: 29rem;
    line-height: 1.2rem;
    color: var(--std-color);
    word-break: break-word;
    /* hyphens: none; */
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: -500vh;
    position: absolute;
    left: 25vw;
    animation: main 2s forwards linear 3s;
}

@keyframes main {
    0% {
        top: -50vh;
    }

    100% {
        top: 45vh;
    }

}

.std:nth-child(3) {
    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 106vh;
    position: absolute;
    left: 25vw;
}

.std:nth-child(4) {
    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 159vh;
    position: absolute;
    left: 25vw;
}

.std:nth-child(5) {
    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 243vh;
    position: absolute;
    left: 25vw;
}

.std:nth-child(6) {
    top: 310vh;
    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    position: absolute;
    left: 25vw;
}

.std:nth-child(7) {

    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 433vh;
    position: absolute;
    left: 25vw;
}

.std:nth-child(8) {

    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 363vh;
    position: absolute;
    left: 25vw;
}

.std:nth-child(9) {

    max-width: 42rem;
    /* line-height: 1.rem; */
    color: var(--std-color);
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1.5rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 438vh;
    position: absolute;
    left: 40vw;
}

.std:nth-child(10) {

    max-width: 42rem;
    /* line-height: 1.rem; */
    color: white;
    /* word-break: break-word; */
    hyphens: none;
    font-size: 1rem;
    /* hyphens: auto; */
    margin-right: -8vw;
    padding-left: 4px;
    top: 443vh;
    position: absolute;
    left: 40vw;
}



@keyframes plan {
    0% {
        top: 357vh;
    }

    100% {
        top: 363vh;
    }
}

.std .-purple {
    color: var(--purple);
}

.std .-gray {
    color: var(--gray);
}

.std p {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    top: 34px;
}

#octo {
    position: absolute;
    top: 30vh;
    right: 60vh;
    animation: octo 4s alternate-reverse linear infinite 5s;
    visibility: hidden;
    transition: all 1s linear;
}

@keyframes octo {
    0% {
        visibility: visible;
        transform: translate(0px, 0px);
    }

    50% {
        visibility: visible;
        transform: translate(100px, 90px);
    }

    100% {
        visibility: visible;
        transform: translate(0px, 100px);

    }
}

.-black {
    height: 38vh;
    width: 110vw;
    position: fixed;
    top: 0;
    background-color: black;
    box-shadow: 0 0 70px black;
    z-index: 10;
    margin-top: -15px;
    filter: blur(17px);
}

.-black2 {
    height: 38vh;
    width: 110vw;
    position: fixed;
    background-color: black;
    box-shadow: 0 0 70px black;
    filter: blur(17px);
    margin-top: 125vh;
    left: -30px;
    z-index: 100001;
}

.is1 {
    position: relative;
    animation: loading 1s linear infinite;
}

.is2 {
    position: relative;
    animation: loading 1s linear .2s infinite;
}

.is3 {
    position: relative;
    animation: loading 1s linear .4s infinite;
}

@keyframes loading {
    0% {
        top: 0px;
    }

    50% {
        top: 7px;
    }

    100% {
        top: 0px;
    }
}

#zen {

    position: relative;
    transform: translate(-99vw, 186vh);
    z-index: 100;
}

.zen-arms {
    z-index: 100;
    animation: rarm 1s ease-in-out infinite;
}

.zen-arms {
    z-index: 100;
    animation: larm 1s ease-in-out infinite;
}

@keyframes rarm {
    0% {
        transform: rotateZ(0deg);
        rotate: 0deg;
    }

    50% {

        rotate: 3deg;
    }

    100% {
        transform: rotateZ(0deg);
        rotate: 0deg;

    }

}

@keyframes larm {
    0% {
        transform: rotateZ(0deg);
        rotate: 0deg;
    }

    50% {

        rotate: -1deg;
    }

    100% {
        transform: rotateZ(0deg);
        rotate: 0deg;

    }

}

.zen-r-mustache_1_ {
    z-index: 100;
    animation: lm 1s alternate-reverse ease-in-out infinite;
}

.zen-l-mustache {
    z-index: 100;
    animation: lm 1s alternate-reverse ease-in-out infinite;
}

@keyframes lm {
    to {
        scale: 101%;
        transform: perspective(17px)
    }
}

#astro {
    position: relative;
    animation: astro 4s alternate ease-in-out infinite;
    z-index: 100;
    margin-left: 25vh;
}

@keyframes astro {
    0% {
        /* transform: translate(0,0); */
        rotate: 30deg;
    }

    50% {
        /* transform: translate(-200px,-28px); */

    }

    100% {
        /* transform: translate(84px,100px); */
        rotate: 90deg;

    }
}

.astro-l-arm {
    animation: shake .5s alternate ease-in-out infinite;
}

.astro-l-leg {
    animation: shakel 4s infinite;
}

@keyframes shake {
    0% {
        /* transform: translate(0,0); */

        transform-origin: 0% 0%;

    }

    30% {
        /* transform: translate(-200px,-28px); */
        transform-origin: 10% 10%;
        transform: rotateX(38deg);
        transform: rotateY(25deg);
    }

}

@keyframes shakel {
    0% {
        /* transform: translate(0,0); */

        transform-origin: 0% 0%;

    }

    /* 30% {
        /* transform: translate(-200px,-28px); 
        transform-origin: 10% 10%;
        transform: rotateX(38deg);
        transform: rotateY(25deg);
    } */

    50% {
        transform-origin: 10% 10%;
        transform: rotateX(38deg);
        transform: rotateY(25deg);
    }


}

.-white {
    color: white;
}

.hb4 {
    color: var(--light);
    font-size: 3rem;
    font-weight: 700;
    padding-right: -7rem;
    margin-right: -31px;
}

#dino {
    position: absolute;
    transform: translate(2vw, 310vh);
    z-index: 100;

}

#dino .dino-headphone {

    animation: dino 1s alternate-reverse linear infinite;
}

@keyframes dino {
    0% {
        scale: 100%;
    }

    10% {
        scale: 102%;
    }

    11% {
        scale: 100%;
    }

    20% {
        scale: 102%;
    }

    21% {
        scale: 100%;
    }

    30% {
        scale: 102%;
    }

    31% {
        scale: 100%;
    }

    40% {
        scale: 102%;
    }
}

#dino .dino-eye {
    z-index: 100;
    animation: dino-eye 1s both linear infinite;
    transform: matrix(1, 0, 0., 0.09999, 0, 36.26999995708466);
}

#dino .dino-bright {
    z-index: 100;
    animation: dino-eye 1s both linear infinite;
}

@keyframes dino-eye {
    0% {
        transform: matrix(1, 0, 0., 0.09999, 0, 36.26999995708466);
    }

    49% {
        transform: matrix(1, 0, 0., 0.09999, 0, 36.26999995708466);
    }

    50% {
        transform: matrix(1, 0, 0.0, 0.09999, 0, 36.26999995708466);
    }

    99% {
        transform: matrix(1, 0, 0., 0.09999, 0, 36.26999995708466);
    }

    100% {
        transform: matrix(1, 0, 0., 0.09999, 0, 36.26999995708466);
    }
}

#dino .dino-tail {
    z-index: 100;
    animation: dino-tail 1s alternate linear infinite;
}

@keyframes dino-tail {
    0% {
        transform: rotate(0deg, 3deg);
    }

    50% {
        transform: rotate(3deg, 0deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

#dino .dino-sounds {
    opacity: 1;
    -webkit-animation: smoke 1s linear infinite;
    animation: smoke 1s linear infinite;
}

@keyframes smoke {
    0% {
        stroke-dasharray: 36;
        stroke-dashoffset: 100
    }

    to {
        stroke-dasharray: 100;
        stroke-dashoffset: 0
    }
}

.black {
    color: black;
}

.gray {
    color: var(--gray);
    position: relative;
    left: -37px;
}

.pic {
    pointer-events: none;
    position: fixed;
    width: 43vw;
    left: -16vw;
    top: 20vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-image: url(../img/art2.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    filter: grayscale(1) brightness(1);
    mix-blend-mode: difference;
    animation: moon 30s linear infinite;
    opacity: 0;
    z-index: 100000;
}

@keyframes moon {
    to {

        rotate: 360deg;
    }

}

html {
    scroll-behavior: smooth;
}

.htmlbuilderf {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 20vmin;
    background: black;
}

.gradient {
    background: linear-gradient(90deg, #682ae9, rgb(61, 90, 251), rgba(94, 114, 235, 1), rgb(247, 108, 106), rgba(255, 145, 144, 1), rgba(254, 193, 149, 1), rgba(255, 145, 144, 1), rgb(247, 108, 106), rgba(255, 145, 144, 1), rgba(94, 114, 235, 1), rgb(61, 90, 251), #682ae9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: move 20s linear infinite alternate;
    background-size: 400%;
}

@keyframes move {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 800%;
        z-index: 10;
    }
}